# Игнорировать папку с данными
data/

# Игнорировать конкретные форматы файлов
*.csv
*.xlsx
*.pkl
*.joblib

# Игнорировать виртуальное окружение и кэш
venv/
__pycache__/
.ipynb_checkpoints/

# Игнорировать системные файлы
.DS_Store
Thumbs.db